page-feed {

    .rowStyle {
        border: solid 1px;
        border-radius: 30px;
        margin-top: 15px;
        
        ion-input {
            margin-top: 5px;
        }

    }

    .bottom-bar{
        .border-right {
            border-right: 1px solid ;
        }
    }

    .round-corners {
        border-radius: 24px;
    }

}
