<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/image/home.png"></ion-img>
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title>Smart School Search</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem ipsam commodi repudiandae modi.</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="">
      <ion-item>
        <ion-icon color="primary" slot="start"  name="list-box"></ion-icon>
        <ion-label [routerLink]="'/home/schools'">School Listing</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon color="primary" slot="start"  name="heart"></ion-icon>
        <ion-label>My Favorites</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon color="primary" slot="start"  name="contacts"></ion-icon>
        <ion-label  [routerLink]="'/blog'">What Parents are Saying</ion-label>
      </ion-item>
      
    </ion-list>
</ion-content>
