<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        School Listing
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
    <ion-list-header text-center>
  <ion-segment  [(ngModel)]="segment" (ionChange)="onSegmentChange($event)" color="primary">
    <ion-segment-button  color="primary" value="primarySchool" checked>Primary</ion-segment-button>
    <ion-segment-button color="primary" value="secondarySchool" >Secondary</ion-segment-button>
  </ion-segment>
</ion-list-header>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" text-center>
        <div [ngSwitch]="segment">
          <div>       
            <ion-list *ngSwitchCase="'primarySchool'">
              <ion-searchbar (ionChange)="filterPrimaryList($event)" animated></ion-searchbar>
                <ion-card *ngFor="let school of primaryGoalList"> 
                  <ion-card-header >
                    <ion-card-title><strong>{{ school.name }}</strong></ion-card-title>
                    <ion-card-subtitle> {{ school.mixed_Status }} | School </ion-card-subtitle>
                  </ion-card-header>
                  <ion-card-content>
                    <h4><strong>Address: </strong></h4>
                      <p>{{ school.address1 }}, {{ school.address2 }}, {{ school.address3 }} </p>
                    <h4><strong>Fee: </strong></h4>
                      <p>{{ school.fee_paying }} </p>
                    <h4><strong>Completion Program: </strong></h4>
                      <p>{{ school.completion_Prog }} </p> 
                      <h4><strong>Phone:  </strong></h4>
                    <p>{{ school.phone }} </p> 
                   
                    <h4><strong>Activities </strong></h4>
                    <p>{{ school.activities }} </p> 
                    <ion-button size="small" shape="round" shape="round"
                    (click)="favoriteSchool(school)"
                    [ngClass]="school.favorite ? 'favorite' : 'normal'"  >
                    Add to Favorite
                  </ion-button>
                  </ion-card-content>                                                    
                </ion-card>  
            </ion-list>
          </div>
          <div>
            <ion-list *ngSwitchCase="'secondarySchool'">
              <ion-searchbar (ionChange)="filterSecondaryList($event)" animated></ion-searchbar>
                <ion-card *ngFor="let school of secondaryGoalList"> 
                  <ion-card-header >
                    <ion-card-title><strong>{{ school.name }}</strong></ion-card-title>
                    <ion-card-subtitle> {{ school.mixed_Status }} | School</ion-card-subtitle>
                  </ion-card-header>
                  <ion-card-content>
                    <h4><strong>Address: </strong></h4>
                      <p>{{ school.address1 }}, {{ school.address2 }}, {{ school.address3 }} </p>
                    <h4><strong>Fee: </strong></h4>
                      <p>{{ school.fee_paying }} </p>
                    <h4><strong>Completion Program: </strong></h4>
                      <p>{{ school.completion_Prog }} </p> 
                    <h4><strong>Phone:  </strong></h4>
                      <p>{{ school.phone }} </p> 
                    
                    <h4><strong>Activities </strong></h4>
                      <p>{{ school.activities }} </p> 
                      <ion-button size="small" shape="round" shape="round"
                      (click)="favoriteSchool(school)"
                      [ngClass]="school.favorite ? 'favorite' : 'normal'"  >
                      Add to Favorite
                    </ion-button>
                    </ion-card-content>                                                  
                </ion-card>  
            </ion-list>
          </div>
        </div>   
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

